<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/board2/index.js"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link href="/public/styles.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
  </head>
  <body>
    <div
      hx-get="/board/index.html"
      hx-swap="outerHTML"
      hx-trigger="load"
    ></div>
    <div hx-get="/board2/ui/footer.html" hx-swap="outerHTML" hx-trigger="load"></div>
    <!-- <div
      id="overlay"
      class="flex flex-row absolute z-10 items-center justify-between w-[100vw] h-[100vh]"
    ></div> -->
  </body>
</html>
